<nav class='navbar navbar-expand navbar-light bg-light navbar-tweaks' style="margin-bottom:22px;padding-bottom:0;padding-top:20px;">
  <a class='navbar-brand brand-title'>{{brandTitle}}</a>
  <ul class='nav nav-tabs' style="margin-bottom:0;padding-bottom:0;">
    <li><a class='nav-link' [routerLink]="['/home']" routerLinkActive='active'>Home</a></li>
    <li><a class='nav-link' [routerLink]="['/code']" routerLinkActive='active'>Code</a></li>
    <li><a class='nav-link' [routerLink]="['/photography']" routerLinkActive='active'>Photography</a></li>
    <li><a class='nav-link' [routerLink]="['/contact']" routerLinkActive='active'>Contact</a></li>
  </ul>
</nav> 
