<nav class='navbar navbar-expand navbar-light bg-light navbar-tweaks' style="margin-bottom:22px;padding-bottom:0;padding-top:20px;">
  <a class='navbar-brand brand-title'>{{brandTitle}}</a>
  <ul class='nav nav-tabs' style="margin-bottom:0;padding-bottom:0;">
    <li><a class='nav-link' [routerLink]="['/home']" routerLinkActive='active'>Home</a></li>
    <li><a class='nav-link' [routerLink]="['/code']" routerLinkActive='active'>Code</a></li>
    <li><a class='nav-link' [routerLink]="['/photography']" routerLinkActive='active'>Photography</a></li>
    <li><a class='nav-link' [routerLink]="['/contact']" routerLinkActive='active'>Contact</a></li>
  </ul>
</nav> 

<!-- old angular navbar markup (angularJS)
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="javascript:void(0)">xybersolve</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a class='nav-link' [routerLink]="['/home']" data-toggle="collapse" data-target=".navbar-collapse">Home</a></li>
              <li><a class='nav-link' [routerLink]="['/code']" data-toggle="collapse" data-target=".navbar-collapse">Code</a></li>
              <li><a class='nav-link' [routerLink]="['/photogrpahy']" data-toggle="collapse" data-target=".navbar-collapse">Photography</a></li>
            </ul>
        </div>
    </div>
</nav>
-->