.vcard img {
  box-shadow: 0 0 20px rgba(50,50,50, .5);
}
.contact-map img {
  box-shadow: 0 0 20px rgba(50,50,50, .5);
}

.contact-info {
  font-style: normal;
}

.profile-picture {
  display: inline;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}


.contact-address {
  text-align: left;
  margin: -4px 0 0 50px;
  color: #666;
}
