.photo-holder-container {
	margin-top:0;
	padding-top:0;
}

.photo-holder {
	border: 0;
}

.photo-image {
	margin-top:10px;
	transition: all 350ms;
	box-shadow: 3px 3px 5px #aaa; 
}
.photo-image:hover {
	transform: scale(1.05); 
	box-shadow: 3px 3px 5px #ccc; 
	background-color: '#FF34B3';
	z-index:10;
	overflow: visible;
}