ul.projects {
  margin: 4px 4px 4px 4px;   
  margin-left: 2px;  
  padding: 0;
  
}

ul.projects > li {
  transition: all 365ms;
  transform: translateZ(0);
  margin-left: 8px;
  padding: 4px 6px 0 8px;
  /* smooth out font blur on scale tranform */ 
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;

}

ul.projects > li:hover {
  transform: scale(1.035);
  box-shadow: 2px 2px 4px #bbb; 
  background-color: #fafafa;
}


.project-title > span {
  font-size: 16px;
  font-weight: bold;

  text-decoration: none;
  color: cornflowerblue;
}

.project-notes {
  margin:0 0 10px 0;
  padding-top:0;
  font-size: 13px;
  font-style: italic;
  color: #808080;
}


.project-detail {
  margin: 4px 2px 6px 2px;
  line-height: 1.4em; 
  color: #222;
}

.project-technology {
  position: relative;
}

.project-technology .label {
  /* fixes bootstrap's label no dynamic wrap */
  display: inline-block !important;
  margin: 2px 6px 10px 0;

  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  box-shadow: 0 0 4px rgba(50,50,50,.5);
}


