<div class='card text-center detail-outer' *ngIf='image'>
   <div class="back-button-holder">
    <button class='btn btn-link float-left detail-back-button'
            (click)='onBack()'>
      <i class='fa fa-chevron-circle-left fa-2x' style="color:#ccc;"></i>  
      <!--  
        fa-arrow-left  
        fa-arrow-circle-o-left
        fa-times-circle 
        fa-times-circle-o 
        fa-chevron-left 
        fa-chevron-circle-left 
      -->
  </button>
  </div>
  <div class="img-container">
      <img class="img-fluid img-detail text-center" src="{{basePath}}/{{image.file}}" >
  </div>

  <div class="card-body">
    <h2 style="color:#bbb;text-shadow:1px 1px 5px #222">{{image.title}}</h2>
    <p style="color:#eee;text-shadow:0 0 10px #444">
      {{image.note}}
    </p>
  
  </div>
</div>
