<div class='card text-center detail-outer' *ngIf='image' >
   <div class="back-button-holder">
    <button class='btn btn-link float-left detail-back-button'
            @fadeIn
            (click)='onBack()'>
      <i class='fa fa-chevron-circle-left fa-2x' style="color:#ccc;"></i>  
      <!--  
        fa-arrow-left  
        fa-arrow-circle-o-left
        fa-times-circle 
        fa-times-circle-o 
        fa-chevron-left 
        fa-chevron-circle-left 
      -->
  </button>
  </div>
  <div class="img-container" @enterLeave >
    <a href="http://gregmilliganphotography.com" title="Go to gregmilliganphotography.com website" target="_blank">
      <img class="img-fluid img-detail text-center" src="{{basePath}}/{{image.file}}" >
    </a>  
  </div>
 
  <div class="card-body">
    <h2  class="image-title">{{image.title}}</h2>
    <p class="image-note">{{image.note}}</p>
  
  </div>
</div>
