/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
/*@import "~font-awesome/css/font-awesome.min.css";*/

/*
@import url(https://fonts.googleapis.com/css?family=Cardo:700|Lato:400,400italic,700);
@header-font-family: 'Cardo', Georgia, Times, serif;
@header-font-size-base: 14px;
@header-font-weight: bold;
@header-color: #333;

@body-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
@body-font-size-base: 15px;
@body-color: #222222;
*/

/*
   Common shared CSS 

padding-top: @margin-fix-toolbar; 
*/

body {
  min-height: 600px;
  font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #222;
}

h1,h2,h3,h4,h5,h6 {
  font-family:'Cardo', Georgia, Times, serif;
  color: #333;
  padding:0;
  line-height: 1;
}
/* 
@header-font-size-base: 14px; 
@body-font-size-base: 15px;
@margin-bottom-base: 1px;
@margin-top-base: 4px;
@margin-fix-toolbar: 70px;
*/
h1 {
  font-size: 22px;
  margin: 20 0 7 0;
}
h2 {
  font-size: 20px;
  margin: 18 0 7 0;
}
h3 {
  font-size: 18px;
  margin: 18 0 7 0;
}
h4 {
  font-size: 17px;
  margin: 16 0 5 0;
}
h5 {
  font-size: 16px;
  margin: 16 0 5 0;
}
h6 {
  font-size: 15px;
  margin: 16 0 5 0;
}

.leading-row {
  margin-top: 20px;
}

/* bootstrap overrides */
li, dd {
  margin-left: 2px;
}

ul.nav {
  margin-left:25px;
}


.xs-icon {
  /*padding-right: 6px !important;*/
  min-width:40px;
  text-align: center;
}

.xs-icon-med {
  /*padding-right: 6px !important;*/
  min-width:30px;
  text-align: center;
}

.xs-icon-slim {
  /*padding-right: 6px !important;*/
  min-width:30px;
  text-align: center;
}

.xs-icon-left {
  /*padding-right: 6px !important;*/
  min-width:25px;
  text-align: left;
}

.xs-light {
  color: #444;
}

.xs-lighter {
  color: #666;
}

ul.hide-bullet {
  list-style-type: none;
}

/*
 ❖ "\2756" black diamonds
 ※ "\203B" reference mark
 ❧ "\2767" floral heart bullet
 ✧ "\2727" white four pointed star
 ➤ "\27A4" right point arrowhead
 ✗ "\2717" ballot-x
 ✘ "\2718" heavy-ballot-x
 ✔︎ "\2714" heavy-checkmark
 ✓ "\2713" checkmark
*/

ul.checkmark li:before {
  content:"\2713\0020";
  /*content: '✓';*/
  color: #666;
  margin-left: 0;
  margin-right: 8px;
  padding-left: 0;
  padding-right: 6px;
}

ul.coffee li:before {
  content: "\2615";
  color: #666;
  margin-left: 0;
  margin-right: 6px;
  padding-left: 0;
  padding-right: 6px;
}

ul.black-diamonds li:before {
  content: "\2756";
  color: #666;
  font-size: 80px;
  width: 50px;
  height: 50px;
  margin-left: 12px;
  margin-right: 8px;
  padding-left: 6px;
  padding-right: 6px;
}

ul.info li:before {
  content: "\2139";
  color: #666;
  margin-left: 0;
  margin-right: 8px;
  padding-left: 0;
  padding-right: 6px;
}

ul.phone li:before {
  content: "\2706";
  color: #666;
  margin-left: 0;
  margin-right: 8px;
  padding-left: 0;
  padding-right: 6px;
}


ul.cloud li:before {
  content: "\2601";
  color: #666;
  margin-left: 0;
  margin-right: 8px;
  padding-left: 0;
  padding-right: 6px;
}

ul.hammer-and-pick li:before {
  content: "\2692";
  color: #666;
  margin-left: 0;
  margin-right: 8px;
  padding-left: 0;
  padding-right: 6px;
}
ul.phone li:before {
  content: "\2706";
  color: #666;
  margin-left: 0;
  margin-right: 8px;
  padding-left: 0;
  padding-right: 6px;
}

ul.gear li:before {
  content: "\2699";
  color: #666;
  margin-left: 0;
  margin-right: 8px;
  padding-left: 0;
  padding-right: 6px;
}


ul.four-pointed-star li:before {
  content: "\2726";
  color: #999;
  margin-left: 0;
  margin-right: 8px;
  padding-left: 0;
  padding-right: 6px;
}
/*
  for use with all ornamented list icons
*/
ul.ornamented {
  list-style-type: none;
  margin-left: 4px;
  padding-left: 2px;
}

.navbar-tweaks {
  margin-bottom: 24px;
}

/*
  Image Styling
*/
.img-rounded-corners {
  border-radius:25%;
}

.img-circle {
  border-radius:50%;
}
