
.profile-picture {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  box-shadow: 3px 3px 8px #aaa;
}

p {
  margin-left:12px;
}

ul {
  margin-left:12px;
}

li {
  margin-left: 24px;
}

ul.outline-list {
  margin-left:-2px;
  padding-left:0;
}

ul.outline-list > li {
  padding-top:2px;
}
