<div class="row" id="about">
  <div class="col-xs-offset-0 col-md-12">
    <h2>Software Solutions</h2>
  </div>
  <div class="col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-6" >
      <h4>
        Development Specialization:
      </h4>
      <!--
      <i class="fas fa-database"></i>
      <i class="fab fa-angular"></i>
      <i class="fab fa-react"></i>
      <i class="fab fa-js"></i>
      <i class="fab fa-node"></i>
      <i class="fab fa-aws"></i>
      <i class="fab fa-git"></i>
      <i class="fab fa-docker"></i>
      <i class="fab fa-linux"></i>
      <i class="fab fa-gulp"></i>
      <i class="fab fa-grunt"></i>
      <i class="fas fa-mobile-alt"></i>
      <i class="fab fa-html5"></i>
      <i class="fab fa-css3-alt"></i>
      <i class="fab fa-css3"></i>
      -->

      <ul class="hide-bullet outline-list" >
          <li><i class="fab fa-js xs-icon xs-lighter"></i>JavaScript, ES2015</li>  
          <li><i class="fab fa-angular xs-icon xs-lighter"></i>Angular &amp; AngularJS</li>
          <li><i class="fab fa-react xs-icon xs-lighter"></i>React</li>
          <li><i class="fab fa-html5 xs-icon xs-lighter"></i>HTML5 &amp; CSS3</li>
          <li><i class="fab fa-node xs-icon xs-lighter"></i>NodeJS, Express, REST, Microservices</li>
          <li><i class="fas fa-database xs-icon xs-lighter"></i>MongoDB, MySQL, NeoJS &amp; RDBMS</li>
          <li><i class="fab fa-aws xs-icon xs-lighter"></i>AWS: S3, SNS, SQS, Lambda, etc...</li>
          <li><i class="fab fa-docker xs-icon xs-lighter"></i>Docker, Vagrant, Virtualbox</li>
          <li><i class="fab fa-git xs-icon xs-lighter"></i>Git, GitHub &amp; BitBucket</li>
          <li><i class="fab fa-gulp xs-icon xs-lighter"></i>Webpack, Gulp, Grunt, Make &amp; Bash</li>
          <!-- <li><i class="fab fa-linux xs-icon xs-lighter"></i>LAMP, MEAN &amp; MERN</li> -->
          <!-- <li><i class="fas fa-mobile-alt xs-icon xs-lighter"></i>Mobile First</li> -->
       </ul>
    </div>
    <div class="col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-6" > 
      <h4>
        DevOps Discplines: 
      </h4>
      <ul class="hide-bullet outline-list" >
        <li><i class="fas fa-sitemap xs-icon xs-lighter"></i>Infrastructure &amp; Cloud Automation (AWS)</li>
        <!-- <li><i class="fas fa-cloud xs-icon xs-lighter"></i>Cloud &amp; Infrastructure Automation</li> -->
        <li><i class="fab fa-jenkins xs-icon"></i>Continuous Integration, Deployment &amp; Delivery</li>
        <li><i class="fas fa-clipboard-list xs-icon xs-lighter"></i>Continuous Monitoring</li>
        <li><i class="fas fa-magic xs-icon xs-lighter"></i>Configuration Management</li>
        <li><i class="fab fa-github-square xs-icon xs-lighter"></i>Software Release Management</li>
        <li><i class="fab fa-gulp xs-icon"></i>Build Engineering</li>
        <li><i class="fab fa-docker xs-icon xs-lighter"></i>Containers & Virtualization</li>
        <!-- <i class="fas fa-terminal"></i> -->
        <li><i class="fab fa-linux xs-icon"></i>Linux Administration</li>
        <li><i class="fab fa-aws xs-icon"></i>AWS Architecture, Design &amp; Administration </li>
      </ul>
    </div>
    <div class="col-xs-offset-0 col-xs-12 col-sm-offset-1 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10" >   
      <p>
        XyberSolve provides software engineering &amp; devops solutions, including infrastructure automation and CI/CD pipelines.
        We also build microservices and backend data resources.
      </p>
  
      <h3>Greg Milligan</h3>
      <p>
        Has built quality software for 20+ years.
        Being an eternal student of best practices with a strong background in
        fullstack deployments, provides a solid backdrop for realworld software development.
        "Extensive experience with manual deployments has taught me the value of automating infrastructure, builds, testing and deployment."
      </p>
  
      <img src="assets/image/profile/Greg-XyberSolve-250x200.jpg"
           alt="Greg in Office"
           width="250"
           height="200"
           class="profile-picture img img-circle" />
  
      <h3>
       XyberSolve Corp.
     </h3>
      <p>
        Xybersolve Corp. enables "corp to corp" contracting. 
        Originally named 'Milligan Software Solutions', XyberSolve was incorporated in California in 1999.
        Greg Milligan is the President and sole member.
      </p>
      <p style="margin-bottom:6px;">
        A few of XyberSolve's engagement policies:
      </p>
      <ul class="checkmark ornamented" >
        <li>One contract at a time, unless prearranged with client.</li>
        <li>Sub-contracting only with agreement of the client.</li>
        <li>Always, under promise and over deliver.</li>
      </ul>
      <!--
      <h2>Technology</h2>
      <p>
        I am open to all modern DevOps tools.
      </p>
      -->
      <h2>
        DevOps Automation Scenarios
      </h2>
  
      <h4 style="color:#222;">
        <em>Scenario 1:</em> Greenfield project with technical discretion:
      </h4>
  
      <!-- <ul class="gear ornamented"> -->
      <!-- <ul class="hammer-and-pick ornamented"> -->
      <!-- <ul class="black-diamonds ornamented">   -->
      <ul class="four-pointed-star ornamented">
        <li><b>Infrastructure Automation</b>: Terraform</li>
        <li><b>Configuration Management</b>: Ansible</li>
        <li><b>Source Mangement</b>: Git</li>
        <li><b>CI/CD Pipelines</b>: Jenkins, CircleCi or Travs-Ci</li>
        <li><b>Continuous Monitoring</b>: Cloudwatch &amp; CloudTrail</li>
        <li><b>Collaboration</b>: JIRA</li>
        <li><b>Containers</b>: Docker, Swarm or Kubernetes (for larger requirements)</li>
        <li><b>Image Repositories</b>: DockerHub, Registry or AWS ECR</li>
        <li><b>Messsage Brokering</b>: ZeroMQ, RabbitMQ and/or AWS SQS</li>
        <li><b>HTTP Servers</b>: Apache and/or Nginx</li>
        <li><b>Infrastructure</b>: AWS (EC2, S3, ELB, ASG, ECS, ECR, RDS, Route53, API Gateway, etc.)</li>
      </ul>
  
      <h4 style="color:#222;">
        <em>Scenario 2:</em> Brownfield project with legacy assets:
      </h4>
  
      <p>
        Learn existing systems and identify those slated for improvement.
        Remain flexible to legacy and preferred technologies. 
        Provide suggestions, encouragement &amp; support where improvements might be realized.
      </p>
  
      <h2>Environments</h2>
      <p>
        Over the last 10 years, my development &amp; deployment experience has revolved primarily around the LAMP, MEAN and MERN stacks.
        Prior to this web development era, I worked in the Windows (Microsoft) enviroments, writing and deploying compiled client/server applications.
      </p>
      <!--
      <p>
        My time has been shared across shrinkwrap and production environments.
      </p>
      
      <p>
        Tthe automation pipeline is similar across all environments.
        However, actual build & testing becomes specialized for any given environment.
      </p>
      -->
      <h2>Containers &amp; Virtualization</h2>
      <p>
        Containers are brilliant for immutable &amp; ephemeral build and test environments.
        They can also be practical for serving production endpoints, given solid cluster orchestration such as Kubernetes or Swarm.    
        For my own business concerns, I containerize many processes.
        What can I say, docker is brilliant!
      </p>
  
      <h2>
        Photography
      </h2>
      <p>
        Why include my photography as part of my development shingle?
        Well, fine-art photography is all about layout and composition.
        Perhaps my images lend insight towards perspective?
        Either way, I get to show off a few of my shots. 
        Thanks for indulging me.
      </p>
  
      <ul class="coffee ornamented" style="margin-top: 25px;margin-bottom:50px;">
        <li><i style="font-size:1.225em">Greg Milligan</i></li>
      </ul>
  
  </div>
</div>